/*left div for metric caption*/

#left-container { 
    width : 50%;
    height: 40px;
    float:left;
    padding-top: 10px;
}

.metric-caption,
#left-container > span {
    font-size: 16px; 
    font-weight: bold;
    /*vertical-align: middle;*/
    text-align: center;
}


/*right div for a 'double decker' div */
#right-container { 
    width : 50%;
    height: 40px;
    float:right;
    /*overflow-y:scroll;*/
}

#double-decker {
/*    color:white;*/
    position:absolute;
    width : 45%;

}
#double-decker > div {
    position: relative;
    text-align: left;
    height : 20px;
}

.metric-reading,
#double-decker > div > span:nth-child(2){
    float: right;
    padding-right: 2px;

    font-size: 12px; 
    font-weight: bold;
}

#double-decker > div:first-child{
    border-bottom: 1px solid #009933;
}